@font-face {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Montserrat-Regular.woff2') format('woff2'),
        url('./fonts/Montserrat-Regular.ttf') format('truetype'),
        url('./fonts/Montserrat-Regular.otf') format('opentype');
    font-display: swap;
}
